.bars {
    width: 32px;
    height: 32px;
    color: white;
}

.sidebar_button {
    background: linear-gradient(135deg, rgba(17, 17, 17, 0.945), rgba(10, 10, 10, 0.842));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    padding: 10px 10px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(255, 255, 255, 0.918);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.541);
    margin-top: 63px;
    margin-left: 10px;
    cursor: pointer;
    transition: all .2s;
}

.Sidebar {
    width: 283px;
    max-height: 96vh;
    margin-bottom: 10px;
    background: linear-gradient(135deg, rgba(17, 17, 17, 0.945), rgba(10, 10, 10, 0.842));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.918);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.541);
    padding: 10px 40px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: inset 0px 0px 4px 4px #ffffff79;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
}


@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.sidebar_title {
    text-shadow: 2px 2px 4px #F10D58;
}

.sidebar_header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar_header img {
    padding-right: 15px;
}

.wrapper_bell {
    display: flex;
    justify-content: center;
}

.bell {
    width: 48px;
    height: 48px;
}

.items_wrapper {
    cursor: pointer;
}

.items_wrapper li {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: flex-start;
    color: #C7C7C7;
    list-style: none;
    margin-top: 20px;
}

.active_manage_title {
    font-size: 21px;
    color: white;
    display: inline;
    text-shadow: 1px 3px 4px #fc5c00;
}

.items_wrapper_visible {
    visibility: hidden;
}

.active_icon {
    width: 32px;
    height: 32px;
    color: #FF5789;
}

.items_wrapper span {
    padding-left: 23px;
}

.manage {
    font-size: 23px;
    cursor: pointer;
    user-select: none;
    padding-right: 20px;
    transition: ease-in-out .2s;
}

.manage:hover {
    color: #C7C7C7;
}

.manage_flex {
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.manage_active {
    font-size: 23px;
    cursor: pointer;
    user-select: none;
    padding-right: 20px;
    text-shadow: 1px 3px 4px #df00fc;
}

.arrow {
    width: 25px;
    height: 25px;
    transform: rotate(90deg);
}

.arrow_closed {
    width: 25px;
    height: 25px;
    transition: ease-in-out .2s;
}


.manage_title {
    font-size: 21px;
    color: #C7C7C7;
    display: inline;
    transition: ease-in-out .2s;
}

.manage_title:hover {
    text-shadow: 1px 1px 4px #F10D58;
}

.manage_icons {
    width: 32px;
    height: 32px;
    transition: ease-in-out .2s;
}

.preference_flex {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.logout_icon {
    width: 40px;
    height: 37px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.logout_icon:hover {
    color: #FF5789;
}

.user_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 275px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.username {
    width: 140px;
    display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 20px;
    color: white
}