.innerBackground {
    border-radius: 30px;
    margin-bottom: 10px;
    display: flex;
    flex: 1;
    background: linear-gradient(135deg, rgb(29, 29, 29), rgb(31, 31, 31));
    backdrop-filter: blur(10px);
    padding: 30px 100px;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.541);
    color: white;
}